html, body { height: 100%; }
body { font-family: 'Noto Sans Japanese';
       font-style: normal;
       letter-spacing: .15ex;
       font-size: 100%;
       -webkit-font-smoothing: antialiased;
       padding: 0 35px;}

header { padding-top: 25px; padding-bottom: 5px; }

h1,
h2,
h3 { font-weight: 900; line-height: 1.5; }

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.3rem }

mb1 { margin-bottom: 1.5em }

a { color: #000; text-decoration: none }
a:focus,
a:hover { color: #fff; -webkit-transition: .5s ease-out; -moz-transition: .5s ease-out; -ms-transition: .5s ease-out; -o-transition: .5s ease-out; transition: .5s ease-out }

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('../css/font/NotoSansCJKjp-Bold.eot');
    src: url('../css/font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../css/font/NotoSansCJKjp-Bold.woff') format('woff'),
    url('../css/font/NotoSansCJKjp-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('../css/font/NotoSansCJKjp-Black.eot');
    src: url('../css/font/NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'),
    url('../css/font/NotoSansCJKjp-Black.woff') format('woff'),
    url('../css/font/NotoSansCJKjp-Black.ttf')  format('truetype');
}